<div class="component__inner clickshow__inner">
  {{> component this}} 

  <div class="clickshow__main {{#if_eq _flexLayout "column"}}column{{/if_eq}}">
  {{#each _items}}
    <div class="clickshow__widget {{#if_eq ../_flexLayout "column"}}column{{/if_eq}}" data-index="{{@index}}">
      <div class="clickshow__item left js-clickshow-item {{#if_eq ../_flexLayout "column"}}column{{/if_eq}}">
        <button role="button" aria-pressed="false" tabindex="0">
          {{#if_eq ../_layoutType "image"}}
          <img src="{{{left}}}" aria-label="{{{leftAlt}}}"  />
          {{/if_eq}}
          {{#if_eq ../_layoutType "image-text"}}
          <img src="{{{left}}}" aria-label="{{{leftAlt}}}"/>
          {{/if_eq}}
          {{#if_eq ../_layoutType "text"}}
          <div class="text">{{{left}}}</div>
          {{/if_eq}}
          {{#if_eq ../_layoutType "text-image"}}
          <div class="text">{{{left}}}</div>
          {{/if_eq}}
        </button>
      </div>
       <div class="clickshow__item right {{#if_eq ../_flexLayout "column"}}column{{/if_eq}}">
        {{#if_eq ../_layoutType "image"}}
        <img src="{{{right}}}" aria-label="{{{rightAlt}}}" />
        {{/if_eq}}
        {{#if_eq ../_layoutType "text-image"}}
        <img src="{{{right}}}" aria-label="{{{rightAlt}}}" />
        {{/if_eq}}
        {{#if_eq ../_layoutType "text"}}
        <div class="text">{{{right}}}</div>
        {{/if_eq}}
        {{#if_eq ../_layoutType "image-text"}}
        <div class="text">{{{right}}}</div>
        {{/if_eq}}
      </div>
    </div>
  {{/each}}
  </div> 
  
  {{!--  --}}

</div>
